  /*  rainbow robot from GIPHY: https://giphy.com/gifs/rainbow-business-man-robot-fan-club-RiEeoYVXWOzG8y4njD */

html{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(251, 251, 158);   
}
/* 1 class container */
.container {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./robomusic.gif');
    background-size: contain;
    background-position: left center;
     background-repeat: no-repeat;
}
/* 3 button */
button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    background:  rgb(54, 188, 17);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
/* 4 pseudo class to attractive button */
button:hover {
    filter: brightness(95%);
}
/* 5 active */
button:active {
    transform: scale(0.98);
}
/* 6 to make button darker with help js */
button:disabled {
    cursor: default;
    filter: (30%);
}

/* 2 media query to responsive website for mobile,laptop */
@media screen and (max-width: 1000px) {
    .container {
    background-position: center center;
    background-size: cover;
   }
   button {
    box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.5);
   } 
}
















